/* 데스크탑 및 공통 */
* {
    box-sizing: border-box;
}
a, a:visited {
    color: initial;
    text-decoration: none;
    cursor: pointer;
}
body {
    position: relative;
    font-family: "Pretendard Variable", Pretendard, Roboto, sans-serif;
    overflow-x: hidden;
}
header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    z-index: 100;
    border-bottom: 1px solid #FFFFFF;
    position: fixed;
    background: none;
}
header.on {
    background: #FFFFFF;
}
header.on .header ul li a {
    color: #333333;
}
header.detail {
    background: #FFFFFF;
}
header .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1040px;
}
header .header h1 {
    background: url('../images/img_logo_withmind.svg') no-repeat;
    width: 124px;
    height: 24px;
    cursor: pointer;
}
header .header h1 a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
header .header ul {
    display: block;
    display: flex;
    gap: 70px;
}
header .header ul li {
    font-family: 'Lexend', sans-serif;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
}
header .header ul li a {
    color: #FFFFFF;
    cursor: pointer;
}
header .header .wrap_hamburger #nav {
    display: none;
}
header .header .wrap_hamburger {
    display: none;
}
footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid #EBEBEB;
}
footer > section {
    display: flex;
    justify-content: center;
    gap: 70px;
    width: 100%;
    max-width: 1040px;
    padding: 45px 0 50px
}
footer h2 {
    background: url('../images/img_logo_withmind_gr.svg') no-repeat;
    width: 124px;
    height: 24px;
}
footer h2 a {
    display: block;
    text-indent: -9999px;
}
footer > section > section {
    flex: 1;
}
footer ul li {
    display: inline-block;
    font-size: 13px;
    line-height: 22px;
}
footer ul li:first-of-type {
    position: relative;
    padding-right: 12px;
    margin-right: 8px;
    color: #808080;
}
footer ul li:first-of-type::after {
    position: absolute;
    content: '';
    border-right: 1px solid #EBEBEB;
    width: 1px;
    height: 12px;
    right: 0;
    top: 4px;
}
footer ul li:last-of-type {
    color: #333333;
    font-weight: 600;
}
footer .info {
    margin: 20px 0 24px;
    color: #808080;
    font-size: 13px;
}
footer .info .detail span + span {
    position: relative;
    padding-left: 12px;
    margin-left: 8px;
}
footer .info .detail span + span::before {
    position: absolute;
    content: '';
    border-left: 1px solid #EBEBEB;
    width: 1px;
    height: 12px;
    left: 0;
    top: 4px;
}
footer .info .detail span em {
    color: #AAAAAA;
    font-style: normal;
}
footer .info div + div {
    margin-top: 6px;
}   
footer p {
    color: #AAAAAA;
    font-size: 13px;
    font-weight: 600;
}
@media (max-width: 1280px) {
    header {
        padding: 0 40px;
    }
    header .header ul {
        display: none;
        background: #FFFFFF;
        position: absolute;
        top: 64px;
        left: 0;
        width: 100vw;
        height: calc(100vh - 64px);
        padding: 55px 40px;
    }
    header .header ul li {
        color: #333333;
    }
    header .header ul li:not(:first-of-type) {
        margin-top: 70px;
    }
    header .header .wrap_hamburger {
        display: block;
        width: 32px;
        height: 32px;
    }
    header .header .wrap_hamburger #nav + label {
        display: block;
        background: url('../images/icon_hamburger.png') no-repeat;
        width: 32px;
        height: 32px;
        cursor: pointer;
    }
    header .header .wrap_hamburger #nav:checked + label {
        background: url('../images/icon_close.png') no-repeat;
    }
    footer > section {
        gap: 37px;
        padding: 36px 40px;
    }
}
@media (max-width: 650px) {
    header {
        padding: 0 20px;
    }
    header .header ul {
        padding: 30px 20px;
    }
    footer > section {
        flex-direction: column;
        gap: 12px;
        padding: 30px 20px;
    }
    footer .info {
        margin: 12px 0;
    }
    footer .info .detail span {
        display: block;
    }
    footer .info .detail span + span {
        margin-top: 4px;
        margin-left: 0;
        padding-left: 0;
    }
    footer .info .detail span::before {
        display: none;
    }
}

h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 54px;
}
h4 {
    line-height: 24px;
    color: #4C99D3;
    font-size: 16px;
}
h4 + h2 {
    margin-top: 12px;
}
h3 {
    font-size: 36px;
    font-weight: 800;
}
.inner {
    max-width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    padding: 100px 0;
}
.main {
    position: relative;
    background: none;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: #FFFFFF;
}
.main .bg_video {
    display: contents;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.main .bg_video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; 
}
.main .wrap_txt {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}
.main .wrap_txt span {
    font-size: 20px;
}
.main .wrap_txt strong {
    margin-top: 12px;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
}
.competition {
    background: url('../images/img_main_02.png') no-repeat left bottom;
    height: 736px;
    text-align: left;
}
.competition h2 {
    font-weight: 700;
}
.competition .inner {
    display: flex;
    gap: 180px;
}
.competition .wrap_cont {
    width: 400px;
}
.competition .wrap_cont b {
    position: relative;
    display: block;
    padding-top: 92px;
    font-weight: 600;
    font-size: 30px;
}
.competition .wrap_cont b::before {
    content: '';
    position: absolute;
    width: 62px;
    height: 62px;
    top: 0;
}
.competition .wrap_cont div:first-of-type b::before {
    background: url('../images/icon_tech_01.svg') no-repeat;
}
.competition .wrap_cont div:last-of-type {
    margin-top: 50px;
}
.competition .wrap_cont div:last-of-type b::before {
    background: url('../images/icon_tech_02.svg') no-repeat;
}
.competition .wrap_cont b span {
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 400;
}
.competition .wrap_cont p {
    margin-top: 18px;
    color: #808080;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.value h2, .value h4 {
    display: block;
    text-align: center;
}
/* value animation */
.value {
    padding-top: 80px;
}
.wrap_curtain section {
    position: relative;
}
.box {
    position: absolute;
    width: 50%; 
    height: 100%;
    background: #FFF; 
    text-align: center;
    color: #fff;
    font-size: 0.8em;
}
.wrap_box {
    min-height: auto;
    height: 600px;
    padding: 0;
}
.delighter.right { transform:translate(-100%); opacity:0; transition: all .75s ease-out; }
.delighter.right.started { transform:none; opacity:1; }

.delighter.left { transform:translate(100%); opacity:0; transition: all .75s ease-out; }
.delighter.left.started { transform:none; opacity:1; }

.delighter.bottom { transform:translatey(300%); opacity:0; transition: all .75s ease-out; }
.delighter.bottom.started { transform:none; opacity:1; }
.delighter .box { transition: all .5s ease-out; }
.delighter .box:nth-child(1) { transform: translate(-290px, 0); }
.delighter .box:nth-child(2) { transform: translate(calc(100% + 290px), 0); }

.delighter.started .box:nth-child(1) { transform: translate(-100%, 0); }
.delighter.started .box:nth-child(2) { transform: translate(200%, 0); }
.wrap_value {
    display: flex;
    justify-content: center;
    background: url('../images/img_main_03.png') no-repeat center / cover;
    height: 100%;
    margin-top: 36px;
}
.wrap_value > div {
    width: 346px;
    border-right: 1px solid rgba(255,255,255,0.4);
    box-sizing: border-box;
}
.wrap_value > div:first-of-type {
    border-left: 1px solid rgba(255,255,255,0.4);
}
.wrap_value .wrap_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    color: #FFFFFF;
    text-align: center;
}
.wrap_value .wrap_flex .wrap_txt {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.wrap_value .wrap_flex .wrap_txt span {
    font-size: 14px;
    font-weight: 500;
}
.wrap_value .wrap_flex .wrap_txt b {
    font-size: 24px;
    font-weight: 800;
}
.wrap_value .wrap_flex .wrap_txt p {
    display: block;
    height: 48px;
    line-height: 24px;
    font-size: 16px;
    opacity: 0.8;
}
.technology {
    position: relative;
    background: url('../images/img_main_04.png') center / cover;
    height: 960px;
    overflow: hidden;
    margin-top: 80px;
}
.technology h2 {
    color: #FFFFFF;
}
.technology .txt {
    margin-top: 12px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 26px;
}
.technology img {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    mix-blend-mode: screen;
}
.service {
    background: #F6F6F6;
}
.service h5 {
    color: #808080;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}
.service h2 + h5 {
    margin-top: 36px;
}
.service .wrap_item {
    display: flex;
    flex-flow: wrap;
    gap: 40px;
    margin-top: 24px;
}
.service .wrap_item + .wrap_item {
    margin-top: 40px;
}
.service .wrap_item .item {
    flex: 1;
}
.service .wrap_item .item h5 {
    margin-bottom: 24px;
}
.service .wrap_item .wrap_img {
    width: 100%;
    height: 160px;
}
.service .wrap_item .wrap_img img {
    width: 100%;
    height: 100%;
}
.service .wrap_item .wrap_txt {
    background: #FFFFFF;
    height: 160px;
    padding: 30px;
}
.service .wrap_item .wrap_txt strong {
    font-size: 30px;
    font-weight: 600;
}
.service .wrap_item .wrap_txt p {
    margin-top: 6px;
    color: #808080;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.service .wrap_item .wrap_txt p + p {
    color: #AAAAAA;
    font-size: 14px;
}

.history h2 + p {
    margin-top: 12px;
    color: #808080;
    font-size: 20px;
    font-weight: 500;
}
.wrap_history {
    margin-top: 36px;
}
.wrap_history .history_title {
    display: flex;
}
.history_title li {
    flex: 1;
    height: 58px;
    line-height: 58px;
    border: 1px solid #EBEBEB;
    color: #AAAAAA;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}
.history_title li:not(:last-of-type) {
    border-right: none;
}
.history_title li.on {
    background: #000719;
    color: #FFFFFF;
}
.history_cont {
    margin-top: 50px;
}
.history_cont section {
    display: none;
}
.history_cont section.on {
    display: block;
}
.history_cont .wrap_flex {
    display: flex;
    gap: 100px;
}
.history_cont .wrap_flex div:first-of-type span {
    display: block;
    width: 430px;
    height: 306px;
    border-radius: 16px;
}
.history_cont > section:nth-of-type(1) .wrap_flex div:first-of-type span {
    background: url('../images/img_history_01.png') no-repeat center / cover;
}
.history_cont > section:nth-of-type(2) .wrap_flex div:first-of-type span {
    background: url('../images/img_history_02.png') no-repeat center / cover;
}
.history_cont > section:nth-of-type(3) .wrap_flex div:first-of-type span {
    background: url('../images/img_history_03.png') no-repeat center / cover;
}
.history_cont .wrap_flex div:first-of-type p {
    margin-top: 12px;
    color: #333333;
    font-size: 30px;
    font-weight: 600;
}
.history_cont .wrap_flex div:last-of-type b {
    margin-right: 14px;
    color:#333333;
    font-size: 18px;
    font-weight: 700;
    font-family: "Elice Digital Baeum", sans-serif;
}
.history_cont .wrap_flex div:last-of-type > b {
    color: #5B9BD5;
}
.history_cont .wrap_flex ul li {
    margin-top: 10px;
    color: #808080;
    font-size: 18px;
    font-weight: 400;
}
.history_cont .wrap_flex ul + b {
    display: block;
    margin-top: 36px;
}
.history_cont .wrap_flex ul .blank {
    padding-left: 35px;
}
/* .news {
    background: url('../images/img_news.jpg') no-repeat center / cover;
} */
.news .wrap_more {
    height: 40px;
}
.news .wrap_more a {
    float: right;
    background: #FAFAFA;
    border-radius: 6px;
    width: 68px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.news .wrap_item {
    display: flex;
    gap: 25px;
    flex-flow: wrap;
    margin-top: 36px;
}
.news .wrap_item .item {
    flex: 1;
    background: #FFFFFF;
    box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.04);
}
.news .wrap_item .item .wrap_img {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.news .wrap_item .item img {
    width: 100%;
    min-height: 200px;
    transition: 0.6s;
}
.news .wrap_item .item:hover img {
    transform: scale(1.1);
}
.news .wrap_item .item .cover {
    display: none;
}
.news .wrap_item .item:hover .cover {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: rgba(76, 153, 211, 0.72) url('../images/img_news_txt.svg') no-repeat center / 70px;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.news .wrap_item .item .wrap_tit {
    padding: 16px 20px 24px;
}
.news .wrap_item .item strong {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}
.news .wrap_item .item p {
    margin: 6px 0 18px;
}
.news .wrap_item .item p,
.news .wrap_item .item span {
    color: #AAAAAA;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
}
.ellipsis {
    width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.client {
    padding: 80px 0;
}
.client h4 {
    text-align: center;
}
.client h2 {
    margin-top: 12px;
    line-height: 54px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.client .wrap_marquee {
    --space: 40px;

    display: grid;
    align-content: center;
    overflow: hidden;
    gap: var(--space);
    width: 100%;
    margin-top: 45px;
}
.client .wrap_marquee .marquee {
    --duration: 30s;
    --gap: var(--space);

    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}
.client .wrap_marquee .marquee .marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: rolling var(--duration) linear infinite;
}
@media (prefers-reduced-motion: reduce) {
    .client .marquee__group {
        animation-play-state: paused;
    }
}
.client .wrap_marquee .marquee .marquee__group img {
    width: 150px;
    object-fit: cover;
}
.client .wrap_marquee .marquee--reverse .marquee__group {
    animation: rolling 60s linear infinite;
    animation-direction: reverse;
    animation-delay: calc(var(--duration) / -2);
}
@keyframes rolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

.contact .wrap_map {
    display: flex;
    gap: 40px;
    margin-top: 36px;
}
.contact .wrap_map .map iframe {
    width: 500px;
    height: 340px;
}
.contact .wrap_map .map b {
    display: block;
    margin-top: 24px;
    font-size: 24px;
}
.contact .wrap_map .map div {
    margin-top: 12px;
    padding-top: 24px;
    border-top: 1px solid #EBEBEB;
}
.contact .wrap_map .map p {
    color: #808080;
    font-size: 18px;
    font-weight: 400;
}
.contact .wrap_map .map span {
    position: relative;
    display: inline-block;
    margin-top: 12px;
    padding-left: 22px;
    color: #808080;
    font-size: 16px;
    font-weight: 400;
}
.contact .wrap_map .map span::before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    top: 4px;
    left: 0;
}
.contact .wrap_map .map span:first-of-type {
    margin-right: 12px;
    padding-right: 12px;
}
.contact .wrap_map .map span:first-of-type::before {
    background: url('../images/icon_tel.svg') no-repeat;
}
.contact .wrap_map .map span:first-of-type::after {
    position: absolute;
    content: '';
    border-right: 1px solid #DDDDDD;
    width: 1px;
    height: 8px;
    top: 7px;
    right: 0;
}
.contact .wrap_map .map span:last-of-type::before {
    background: url('../images/icon_mail.svg') no-repeat;
}
.inquiry {
    background: url('../images/img_contact.png') no-repeat center / cover;
    height: 650px;
}
.inquiry .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: #FFFFFF;
}
.inquiry h3 {
    font-size: 45px;
    font-weight: 800;
    line-height: 60px;
}
.inquiry p {
    line-height: 26px;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 500;
    opacity: 0.8;
}
.inquiry a {
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    background: transparent;
    width: 139px;
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}


/* 테블릿 */
@media (max-width: 1280px) { 
    h2.tit + h2 {
        padding: 0 60px;
    }
    .inner {
        padding: 80px 60px;
    }
    .main > section {
        padding: 0 60px;
    }
    .competition {
        background: url('../images/img_main_02.png') no-repeat left -250px bottom -100px;
        height: 812px;
    }
    .competition .inner {
        flex-direction: column;
        gap: 0;
    }
    .competition .wrap_cont {
        width: 100%;
    }
    .competition .wrap_cont div {
        margin-top: 36px;
    }
    .value .box {
        display: none;
    }
    .wrap_value {
        flex-direction: column;
    }
    .wrap_value > div:not(:last-of-type) {
        border: none;
        border-bottom: 1px solid rgba(255,255,255,0.4);
    }
    .wrap_value .wrap_flex {
        width: 100%;
        justify-content: space-between;
        flex-direction: initial;
        height: 200px;
        padding: 0 60px;
    }
    .wrap_value .wrap_flex .wrap_txt {
        width: 220px;
        text-align: left;
    }
    .service .wrap_item .wrap_txt {
        height: 140px;
        padding: 20px;
    }
    .service .wrap_item .wrap_txt strong {
        font-size: 24px;
    }
    .service .wrap_item .wrap_txt p {
        font-size: 15px;
    }
    .service .wrap_item .wrap_txt p + p {
        font-size: 14px;
    }
    .history_cont {
        margin-top: 36px;
    }
    .history_cont .wrap_flex {
        flex-direction: column;
        gap: 36px;
    }
    .history_cont .wrap_flex div:first-of-type span {
        width: 100%;
        height: 216px;
    }
    .history_cont > section:nth-of-type(3) .wrap_flex div:first-of-type span {
        background: url('../images/img_history_03.png') no-repeat center / cover;
    }
    .client .wrap_marquee .marquee .marquee__group {
        gap: 36px;
    }
    .client .wrap_marquee .marquee .marquee__group img {
        width: 100px;
    }
    .contact .wrap_map {
        flex-direction: column;
        gap: 60px;
    }
    .contact .wrap_map .map iframe {
        width: 100%;
    }
    .inquiry {
        height: 420px;
    }
    .inquiry .inner {
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 50px;
        padding: 100px;
    }

} 
/* 모바일 */
@media (max-width: 650px) { 
    h2, h3 {
        font-size: 28px;
        line-height: 36px;
    }
    h2.tit + h2 {
        padding: 0 20px;
    }
    .inner {
        padding: 60px 20px;
    }
    .main > section {
        justify-content: center;    
        padding: 0 20px;
    }
    .main .wrap_txt span {
        font-size: 15px;
    }
    .main .wrap_txt strong {
        font-size: 32px;
    }
    .competition {
        background: url('../images/img_main_02_m.png') no-repeat left 0px top 130px;
        height: 687px;
    }
    .competition .wrap_cont div {
        margin-top: 24px;
    }
    .competition .wrap_cont b {
        font-size: 20px;
    }
    .competition .wrap_cont b span {
        margin-bottom: 4px;
        font-size: 16px;
    }
    .competition .wrap_cont p {
        margin-top: 12px;
        font-size: 15px;
    }

    .value {
        padding-top: 60px;
    }
    .wrap_value .wrap_flex {
        padding: 0 30px;
    }
    .wrap_value .wrap_flex img {
        width: 48px;
    }
    .wrap_value .wrap_flex .wrap_txt b {
        font-size: 20px;
    }
    .wrap_value .wrap_flex .wrap_txt p {
        font-size: 15px;
    }
    .technology {
        margin-top: 60px;
    }
    .technology .txt {
        font-size: 15px;
    }
    .technology .txt:nth-of-type(2) {
        margin: 40px 0 24px;
        text-align: center;
    }
    .service h2 + h5 {
        margin-top: 24px;
    }
    .service .wrap_item {
        flex-direction: column;
        gap: 20px;
        margin-top: 12px;
    }
    .service .wrap_item + .wrap_item {
        margin-top: 20px;
    }
    .service .wrap_item:last-of-type {
        margin-top: 30px;
        gap: 30px;
    }
    .service .wrap_item .item h5 {
        margin-bottom: 12px;
    }
    .service .wrap_item .wrap_txt strong {
        font-size: 20px;
    }
    .history h2 + p {
        margin-top: 6px;
        font-size: 15px;
    }
    .wrap_history {
        margin-top: 22px;
    }
    .history_title li {
        border: none;
    }
    .history_title li.on {
        background: #FFFFFF;
        border-bottom: 2px solid #000719;
        color: #333333;
        font-weight: 600;
    }
    .history_cont .wrap_flex {
        gap: 12px;
    }
    .history_cont .wrap_flex div:first-of-type p{
        font-size: 20px;
    }
    .history_cont .wrap_flex div > b {
        margin-bottom: 3px;
    }
    .news {
        padding: 60px 0;
    }
    .contact .wrap_map {
        gap: 30px;
        margin-top: 24px;
    }
    .contact .wrap_map .map iframe {
        height: 176px;
    }
    .contact .wrap_map .map b {
        margin-top: 12px;
        font-size: 18px;
    }
    .contact .wrap_map .map div {
        margin-top: 6px;
        padding-top: 12px;
    }
    .contact .wrap_map .map p {
        font-size: 15px;
    }
    .inquiry {
        height: 180px;
    }
    .inquiry .inner {
        gap: 12px;
        padding: 28px;
    }
    .inquiry h3 {
        font-size: 22px;
        line-height: 28px;
    }
    .inquiry p {
        margin-top: 6px;
        font-size: 15px;
        line-height: 23px;
    }
    .inquiry a {
        width: 113px;
        height: 44px;
        line-height: 44px;
        font-size: 16px;
    }
} 


/* news */
.news-view .news-head {
    text-align: center;
}
.news-view .news-head span {
    color: #AAAAAA;
    font-size: 14px;
    font-weight: 400;
}
.news-view .news-head h2 {
    margin-top: 12px;
    font-size: 30px;
    font-weight: 700;
}
.news-view .news-body {
    margin-top: 30px;
}
.news-view .news-body img {
    display: block;
    margin: 0 auto;
}
.news-view .news-body img + p {
    margin-top: 60px;
}
.news-view .news-body p {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.news-view .news-body span {
    display: block;
    color: #AAAAAA;
    font-weight: 400;
    font-size: 14px;
}
.news-view .news-body span + span {
    margin-top: 10px;
}
.news-view .news-btn {
    width: 100%;
    border-top: 1px solid #EBEBEB;
    margin: 24px 0 100px;
    padding-top: 36px;
}
.news-view .news-btn a {
    display: block;
    background: #FFFFFF;
    width: 87px;
    height: 48px;
    line-height: 48px;
    margin: 0 auto;
    color: #AAAAAA;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}
.news-view .news-btn a:hover {
    background: #F4F4F4;
}
@media (max-width: 650px) { 
    .news-view .news-head {
        text-align: left;
    }
    .news-view .news-head h2 {
        font-size: 20px;
        line-height: 26px;
    }
    .news-view .news-body {
        margin-top: 24px;
    }
    .news-view .news-body img {
        width: 100%;;
    }
    .news-view .news-body img + p {
        margin-top: 24px;
    }
    .news-view .news-body p {
        font-size: 15px;
    }
    .news-view .news-btn {
        margin: 36px 0 0;
    }
}



/* contact */
.contact .wrap_tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.contact .wrap_tit h2 {
    font-size: 30px;
}
.contact .wrap_tit span {
    color: #AAAAAA;
    font-size: 15px;
}
.contact .group + .group {
    margin-top: 36px;
}
.contact .group b {
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 600;
}
.contact .group b span {
    display: inline-block;
    margin-left: 4px;
    color: #AAAAAA;
    font-size: 15px;
}
.contact .group .wrap_check {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 26px;
}
.contact .group .wrap_check input[type=checkbox] + label {
    display: inline-block;
    background: url('../images/checkbox_unchecked.svg') no-repeat left center / 24px;
    height: 24px;
    padding-left: 40px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
.contact .group .wrap_check input[type=checkbox]:checked + label {
    background: url('../images/checkbox_checked.svg') no-repeat left center / 24px;
}
.contact .group .wrap_flex {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 20px;
}
.contact .group .wrap_flex span {
    position: relative;
    width: 510px;
    height: 70px;
    border-bottom: 1px solid #EBEBEB;
}
.contact .group .wrap_flex span input {
    width: 100%;
    height: 100%;
    padding-left: 80px;
    border: none;
}
.contact .group .wrap_flex span label {
    position: absolute;
    left: 19px;
    top: 50%;
    transform: translateY(-50%);
    color: #AAAAAA;
    font-size: 16px;
    font-weight: 600;
}
.contact .group textarea {
    width: 100%;
    height: 200px;
    border: none;
    border-bottom: 1px solid #EBEBEB;
    resize: none;
    margin-top: 12px;
}
.contact .group textarea::placeholder {
    color: #AAAAAA;
    font-size: 16px;
    font-weight: 600;
}
.contact .agree {
    margin-top: 24px;
}
.contact .agree input[type=checkbox] + label {
    display: inline-block;
    background: url('../images/checkbox_square_unchecked.svg') no-repeat left center / 20px;
    height: 20px;
    padding-left: 32px;
    color: #808080;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}
.contact .agree input[type=checkbox]:checked + label {
    background: url('../images/checkbox_square_checked.svg') no-repeat left center / 20px;
}
.contact .agree input[type=checkbox] + label span {
    text-decoration: underline;
}
.contact .agree label button {
    background: #FFFFFF;
    color: #808080;
    font-size: 16px;
    text-decoration: underline;
}
.contact .wrap_btn {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 60px;
}
.contact .wrap_btn button {
    width: 160px;
    height: 54px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
}
.contact .wrap_btn .btn_white {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #AAAAAA;
}
.contact .wrap_btn .btn_black {
    background: #000719;
    color: #FFFFFF;
}
/* contact modal */
.modal-open {
    overflow: hidden;
}
#privacy .modal-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    width: 740px;
}
#privacy .modal-dialog .modal-content {
    padding: 40px 60px;
}
#privacy .modal-dialog .modal_close {
    background: url('../images/icon_close.svg') no-repeat;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 26px;
    height: 26px;
    z-index: 100;
    opacity: 1;
}
#privacy .modal-dialog .modal-body {
    padding: 0;
}
#privacy h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
}
#privacy h3 {
    margin-top: 24px;
    font-size: 16px; 
    font-weight: 600;
}
#privacy h4 {
    margin-top: 23px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
#privacy h5 {
    margin-top: 6px;
    line-height: 23px;
}
#privacy p {
    margin-top: 6px;
    color: #808080;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}
#privacy .wrap_btn .btn_black {
    display: block;
    background: #000719;
    width: 160px;
    height: 54px;
    border-radius: 5px;
    margin: 30px auto 0;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 1280px) { 
    .contact .group .wrap_flex span {
        width: 100%;
    }
    #privacy .modal-dialog {
        width: 630px;
    }
    #privacy .modal-dialog .modal-content {
        padding: 40px 30px;
    }
}
@media (max-width: 650px) { 
    .contact .wrap_tit {
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
    }
    .contact .wrap_tit h2 {
        font-size: 28px;
    }
    .contact .group .wrap_check input[type=checkbox] + label {
        font-size: 15px;
    }
    .contact .group .wrap_check {
        flex-direction: column;
        gap: 24px;
    }
    .contact .group + .group {
        margin-top: 24px;
    }
    .contact .group .wrap_flex span {
        height: 60px;
    }
    .contact .group .wrap_flex span label {
        font-size: 15px;
    }
    #privacy .modal-dialog {
        width: 335px;
        height: 545px;
    }
    #privacy .modal-dialog .modal-content {
        height: 545px;
        overflow-y: auto;
        padding: 30px 20px;
    }
}